<footer class="footer footer-black  footer-white ">
    <div class="container-fluid">
      <div class="row">
        <nav class="footer-nav">
          <ul>
            <li><p style="font-size: 17px;">Follow us on </p></li>
            <li><a href="https://www.facebook.com/literarysocietyiitmandi/" target="_blank"><img src="https://img.icons8.com/cotton/30/000000/facebook.png"/></a></li>
            <li><a href="https://www.instagram.com/litcouncil_iitmandi/?hl=en" target="_blank"><img src="https://img.icons8.com/cotton/30/000000/instagram-new.png"/></a></li>
            <!-- <li><a href="" target="_blank">Licenses</a></li> -->
          </ul>
        </nav>
        <div class="credits ml-auto my-auto">
          <span class="copyright" style="font-size: 15px;">
            © <script>
              document.write(new Date().getFullYear())
            </script>, made with <i><img src="https://img.icons8.com/cotton/20/000000/like.png"/></i> by Literary Society, IIT Mandi
          </span>
        </div>
      </div>
    </div>
  </footer>