1. First impression?
2. Best/First moment you shared with him/her:
3. Pick one thing you wanna steal from him/her:
4. Any fantasy you have related to him /her:
5. What do you like about him/her:
6. If you were to write his/her biography, what would you name it?
7. Which fictional character is resembled the best by him/her?
8. If you were to dedicate a place or building in campus to him/her, what funny name would you give it?
9. One thing that you know about him/her (he/she has no idea about that you know it since a long time) :
10.One embarrassing moment that you have faced with her /him:
11.With whom would you want to pair him/her (sasta/sasti love guru to ho hi tum, chalo batao):
12.She/He has a love/hate relationship with _ (a debater friend/ex/ profs😛):
13.One 'BAKCHODI BHARA KAAM' you always wanted to learn from him/her but didn't get that golden chance:
14.If not engineering, what profession would this person be in?
15. Your heartfelt final message before they leave: