{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% block title %} Fill Slambook {% endblock title %}

{% block stylesheets %}
    <link href="{% static 'dashboard/css/paper_card.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <link href="{% static 'dashboard/css/style_border.css' %}" rel="stylesheet"/>
    <link href="{% static '/dashboard/css/range_slider.css' %}" rel="stylesheet" />
{% endblock stylesheets %}
{% block fillSlams_status %} active {% endblock %}

{% block content %}
<div class="row">
    <form method="post" class="row">
        <div class="col px-auto">
            <p class="h1" style="text-align: center; font-family: 'Fredoka One'; color: #66615B;">{{senior.name}}'s SLAM </p>
        </div>
        <!-- this is same as an HTML form. Questions are label tags and answers are textArea tag -->
        {% csrf_token %}
        {% for field in form %}
            {% if field.field.widget.input_type == 'range' %}
            {% else %}
                <div class="col-md-12 py-4">
                    {{ field.errors }}
                    <h5 class="question px-4">{{ field.label_tag }}</h5>
                    <div class="paper">
                        <div class="paper-content">
                            {{ field }}
                        </div>
                    </div>
                </div>
                <br><br>
            {% endif %}
        {% endfor %}
        <div class="col-md-12 py-5 px-5">
            <div class="row">
                <div class="slidecontainer col px-5">
                    <h5 class="question">{{form.ghissu_meter.label_tag}}</h5>
                    {{form.ghissu_meter}}
                    <p>Value: <span id="demo"></span></p>
                </div>
                <div class="slidecontainer col px-5">
                    <h5 class="question">{{form.phodu_meter.label_tag}}</h5>
                    {{form.phodu_meter}}
                    <p>Value: <span id="demo2"></span></p>
                </div>
            </div>
        </div>
        <div class="col-md-12 py-4">
            <!-- <input type="submit" value="submit" style="display: block; margin: auto;"> -->
            <button type="submit" class="btn btn-info btn-lg" style="display: block; margin: auto; font-family: 'Fredoka One', cursive; font-size: 20px;">Submit</button>
            <!-- <button class="submit-button state-0" style="display: block; margin: auto; font-size: large;"><span class="pre-state-msg">Submit</span><span class="current-state-msg hide">Sending...</span><span class="done-state-msg hide">Done!</span></button> -->
        </div>
    </form>
</div>
{% endblock content %}

{% block scripts %}
    <script src="{% static 'dashboard/js/range_slider.js' %}"></script>
{% endblock %}
