{% extends 'dashboard/layouts/base.html' %}
{% load static %}
{% block title %} Show Slambooks {% endblock title %} | Entry

{% block stylesheets %}
<link href="{% static 'dashboard/css/paper_card.css' %}" rel="stylesheet" />
<link href="{% static 'dashboard/css/style_border.css' %}" rel="stylesheet"/>
{% endblock stylesheets %}

{% block slamsReceived_status %} active {% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans1}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans2}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans3}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans4}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans5}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans6}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans7}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans8}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans9}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans10}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans11}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans12}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans13}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans14}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{tableThree.ans15}}</textarea>
            </div>
        </div>
    </div>
</div>
{% endblock content %}