{% extends 'dashboard/layouts/base.html' %}

{% block title %} Show Slambooks {% endblock title %} | Entry

{% block stylesheets %}
<link href="static/dashboard/css/paper_card.css" rel="stylesheet" />
{% endblock stylesheets %}

{% block sidebar %}
<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
      <a href="" class="simple-text logo-mini">
        <div class="logo-image-small">
          <img src="static/dashboard/img/book.png">
        </div>
        <!-- <p>CT</p> -->
      </a>
      <a href="https://www.creative-tim.com" class="simple-text logo-normal">
        SlamApp
        <!-- <div class="logo-image-big">
          <img src="static/dashboard/img/logo-big.png">
        </div> -->
      </a>
    </div>
    <div class="sidebar-wrapper">
      <ul class="nav">
        <li class="">
          <a href="./dashboard.html">
            <i class="nc-icon nc-bank"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li>
          <a href="">
            <i class="nc-icon nc-diamond"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li class="active">
          <a href="./map.html">
            <i class="nc-icon nc-pin-3"></i>
            <p>Maps</p>
          </a>
        </li>
        <li>
          <a href="./notifications.html">
            <i class="nc-icon nc-bell-55"></i>
            <p>Notifications</p>
          </a>
        </li>
        <li>
          <a href="./user.html">
            <i class="nc-icon nc-single-02"></i>
            <p>User Profile</p>
          </a>
        </li>
        <li>
          <a href="./tables.html">
            <i class="nc-icon nc-tile-56"></i>
            <p>Table List</p>
          </a>
        </li>
        <li>
          <a href="./typography.html">
            <i class="nc-icon nc-caps-small"></i>
            <p>Typography</p>
          </a>
        </li>
        <li class="active-pro">
          <a href="./upgrade.html">
            <i class="nc-icon nc-spaceship"></i>
            <p>Upgrade to PRO</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
  {% endblock sidebar %}

{% block content %}

<div class="row">
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans1}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans2}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans3}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans4}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans5}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans6}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans7}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans8}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans9}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans10}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans11}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans12}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans13}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans14}}</textarea>
            </div>
        </div>
    </div>
    <div class="col-md-12 py-2">
        <h5 class="question">Question - 1</h5>
        <div class="paper">
            <div class="paper-content">
                <textarea autofocus readonly>{{slam.ans15}}</textarea>
            </div>
        </div>
    </div>

{% endblock content %}